@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

.nav{
       display: flex;
       justify-content: space-between;
      top: 0;
       border-radius: 5px;
       scroll-behavior: smooth;
       max-width:100%;
      
       
}

.nav_one{
       display:flex;
       width: 100px;
       gap: 5px;
       margin-left:5rem;
       margin-top:1rem;
       

}

.nav_one .car-icon{
       font-size:60px;
       color: rgb(42, 71, 230);
       transform: scaleX(-1);
       margin-top:1rem;
}


.nav_one h5 span{
      font-weight: 700;
       font-size: 22px;
       margin-top: 0;
       position: relative;
       top: 10px;

}

.nav_one h5{
       font-weight:normal;
       font-size:18px;
       color: rgb(32, 32, 32);
       margin-top:10px;
       
       
}



.nav-three{
       display: flex;
       gap: 1rem;
       
       
}

.nav-three button.sign{
       border: none;
       background-color: transparent;
       font-weight: 700;
       font-size:17px;
       cursor: pointer;
       margin-top: 1rem;
       

}

.nav-three button.sign:hover{
 color: rgb(42, 71, 230);
}

.nav-three button.register{
       width:80px;
       height:40px;
       background-color:rgb(42, 71, 230) ;
       color: #fff;
       font-weight: 700;
       cursor: pointer;
       border: none;
       margin-top: 2rem;
       border-radius:5px;
       padding:5px;
       box-shadow: 0px 4px 8px rgba(42, 71, 230, 0.3);
       margin-right:2rem;
}

.nav-three button.register:hover{

       transform: scale(1.1);
       transition: transform 0.1s;
}


/*////////////////////////////////////////////////////////////////*/
@media screen and (max-width:1054px) {
.nav-three {
       margin-right: -5rem;
       }


}

@media screen and (max-width:960px) {
       .nav-three {
              margin-right: -10rem;
       }


}

@media screen and (max-width:900px) {
       .nav-three {
              margin-right: -15rem;
       }


}

@media screen and (max-width:769px) {
       .nav-three {
              margin-right: -20rem;
       }


}

@media screen and (max-width:715px) {
       .nav-three {
              margin-right: -25rem;
       }


}

@media screen and (max-width:617px) {
       .nav-three {
              margin-right: -32rem;
       }


}

@media screen and (max-width:536px) {
       .nav-three {
              margin-right: -35rem;
       }


}

@media screen and (max-width:464px) {
       .nav-three {
              margin-right: -40rem;
       }


}

@media screen and (max-width:396px) {
       .nav-three {
              margin-right:-45rem;
       }


}
@media screen and (max-width:305px) {
       .nav-three {
              margin-right: -50rem;
       }


}