.model{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding-bottom:3rem;
       gap: 6rem;
}

.model .model-text{
       display: flex;
        flex-direction: column;
       align-items: center;
      justify-content: center;
      gap: 1rem;
}

.model-text h4{
       font-size: 17px;
       font-weight:700;
       margin-bottom: 0;
}
.model-text h1{
       font-weight:800;
       margin-top: 0;
}
.model-text p{
       font-size: 13px;
       width: 400px;
       color: rgb(79, 77, 77);
       text-align: center;
}

.model-cars{
       display: flex;
       gap:7rem
}

.model-cars .cars-name{
       display: flex;
       flex-direction: column;
       gap: 0rem;
       height:280px;
       overflow-y: scroll;
       overflow-x: hidden;
       position: relative;
       bottom:1rem;
       width:230px;
       
}
.model-cars .cars-name::-webkit-scrollbar {
       width: 5px;
       /* Adjust the width of the scrollbar */
}

.model-cars .cars-name::-webkit-scrollbar-thumb {
       background-color: rgba(0, 0, 0, 0.5);
       /* Color of the scrollbar thumb */
}




.cars-name button{
       border: none;
       background: transparent;
       font-size: 17px;
       font-weight: 800;
       color: black;
       padding-top:15px;
       padding-bottom:15px;
       width:220px;
       
}

.cars-name button.active{
       color: white;
       background-color: rgb(42, 71, 230);
}

.car-img img{
       width: 400px;
       height:300px;
}
.car-detials{
       position: relative;
       bottom:3rem;
}

.car-detials table {
       border-collapse: collapse;
       border: 1.5px solid rgb(53, 52, 52);
       /* Outer border */
       border-radius: 5px;
       
}

.car-detials th,
.car-detials td {
       padding: 8px;
       border-top:0.8px solid rgb(90, 89, 89);
       border-left:0.8px solid rgb(90, 89, 89);
       border-bottom: 0.8px solid rgb(90, 89, 89);
       text-align: center;
       

       
}
.car-detials th{
       border-radius: 5px;
}


.car-detials th:last-child,
.car-detials td:last-child {
      border-left:0;
      
      
}

.car-detials table thead tr{
       background-color:rgb(42, 71, 230);
}

.car-detials table thead tr th{
       color: white;
       font-size:18px;
}

.car-detials table thead tr th span{
       font-size:23px;
       font-weight:800;
}

.car-detials table tbody tr td {
  font-size: 14px;
  font-weight:500;
}

.car-detials button.reserve{
             width:180px;
              height: 40px;
              background-color: rgb(42, 71, 230);
               cursor: pointer;
              border: none;
              padding: 5px;
              margin-top: 1rem;
              box-shadow: 0px 4px 8px rgba(42, 71, 230, 0.3);
              margin-left: 0.6rem;
              
}

.car-detials button.reserve a{
       text-decoration: none;
       color: #fff;
              font-weight: 700;
}








